<h1>Add property</h1>
<form action="/properties/" method="POST">
  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Image URL:</label>
  <input type="text" name="image_url">

  <label for="">Region:</label>
  <input type="text" name="region">

  <label for="">Bedroom number:</label>
  <input type="text" name="bedroom_no">

  <label for="">Price:</label>
  <input type="text" name="price">

  <button>Add property</button>
</form>